<div class="container-fluid">
	<div class="row">
		<div class="col-md-3"/>
		<div class="col-md-6">
			<h4 class="centerAlignedText">
				Submit a new job 
			</h4>
			<form ng-submit="createNewJob()">
				<div class="form-group">
					<label for="dataFileLocation">
						Data File Location
					</label>
					<input type="url" ng-model="jobDetail.jobInput.dataLocation" 
							data-bv-uri-message="The website address is not valid"  placeholder="Please provide URL to valid CSV input data file" class="form-control" 
									required="required"	id="dataFileLocation">
				</div>
				
				<div class="form-group">
					<label for="numberOfColumns">
						Number of Columns
					</label>
					<input ng-change="updateDataTypeConfiguration()" ng-model="numberOfColumnsInDataFile" type="number" required="required" max="25" min="1" 
							placeholder="Please provide with number of data columns in input CSV data file" 
							class="form-control" id="numberOfColumns">
				</div>
				<div class="form-group">
					<label>
						Data Type Configuration  
					</label>
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<table class="table">
									<thead>
										<tr>
											<th>
												Column
											</th>
											<th>
												Data Type
											</th>
											<th>
												Data Size
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="count in getDataTypeConfiguration() track by $index">
											<td>
												Column {{$index+1}}
											</td>
											<td>
												<select required="required" ng-model="dataTypeConfiguration[$index].dataType">
													<option value="BYTE">Byte</option>
													<option value="SHORT">Short</option>
													<option value="INT">Integer</option>
													<option value="LONG">Long</option>
													<option value="CHAR">Character</option>
													<option value="FLOAT">Float</option>
													<option value="DOUBLE">Double</option>
													<option value="STRING">String</option>
												</select>
											</td>
											<td>
												<input ng-show="dataTypeConfiguration[$index].dataType==='STRING'"
													ng-model="dataTypeConfiguration[$index].dataSize" required="required" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>					
				</div>
				<div class="form-group">
					<label for="jobJarFile">
						Upload Job JAR File
					</label>
					<input file-model="jobJarFile" accept="application/java-archive" required="required" type="file" id="jobJarFile">
					<p class="help-block">
						Please upload a valid job jar file containing below specified job matrix implementation and compiled with Java 1.8 or below.
					</p>
				</div>
				
				<div class="form-group">
					<label for="jobMatrixClassName">
						Job Matrix Class Name: 
					</label>
					<input class="form-control" ng-model="jobDetail.jobInput.jobMatrixClass" required="required" 
							type="text" id="jobMatrixClassName" placeholder="Please provide fully qualified name. e.g. com.test.SumJobMatrixImpl">
				</div>
				
				<div class="form-group">
					<label>
					</label>
					<button type="submit" class="btn btn-primary">
						Submit
					</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"/>
	</div>
</div>