<div class="container" >
    <div class="col-md-6">
    <div id="logbox">
      <form id="signup" ng-submit="register()">
        <h4 class="centerAlignedText">Create an account</h4>

      	<div class="alert alert-danger" ng-show="errorDetails">{{errorDetails.message}}</div>
		<div class="alert alert-success" ng-show="successDetails">{{successDetails.message}}</div>
        
        <input ng-model="user.firstName" type="text" placeholder="What's your first name?" autofocus="autofocus" required="required" class="input pass"/>
        <input ng-model="user.lastName" type="text" placeholder="What's your last name?" autofocus="autofocus" required="required" class="input pass"/>
        <input ng-model="user.emailAddress" type="email" placeholder="Email address" required="required" class="input pass"/>
		<input ng-model="user.password" type="password" placeholder="Choose a password" required="required" class="input pass"/>
        <input ng-model="confirmPassword" type="password" placeholder="Confirm password" required="required" class="input pass"/>
        <input type="submit" value="Sign me up!" class="inputButton"/>
      </form>
    </div>
   </div>
   <div class="col-md-6">
    <div id="logbox">
      <form id="signup" >
        <h4 class="centerAlignedText">Already have an account?</h4>
        <input ng-model="user.loginEmailAddress" required type="email" placeholder="Please enter your email" class="input pass"/>
        <input ng-model="user.loginPassword" type="password" placeholder="Please enter your password" required="required" class="input pass"/>
        <input type="submit" value="Sign me in!" class="inputButton"/>
      </form>
    </div>
   </div>
</div>