/cleanup-all-nodes-data.sh~
/connect-to-node.sh~
/connect-to-node1.sh~
/copy-data-file-reader-script.sh~
/create-node-id-files.sh~
/data-file-reader-script.sh~
/setup-environment.sh~
/setup-master.sh~
/setup-nodes.sh~
