/cleanup-all-nodes-data.sh~
/connect-to-node.sh~
/connect-to-node1.sh~
/copy-data-file-reader-script.sh~
/create-node-id-files.sh~
/data-file-reader-script.sh~
/setup-environment.sh~
/setup-master.sh~
/setup-nodes.sh~
/initial-connect-to-162.243.102.73.sh
/initial-connect-to-162.243.106.27.sh
/initial-connect-to-162.243.113.220.sh
/initial-connect-to-162.243.118.137.sh
/initial-connect-to-162.243.56.140.sh
/initial-connect-to-162.243.56.199.sh
/initial-connect-to-162.243.87.183.sh
/initial-connect-to-162.243.97.194.sh
/create-project-directory.sh~
/create-required-project-directories-on-manager.sh~
/install-java-on-a-node.sh~
/install-java-on-all-nodes.sh~
/node_ips_list.txt
/nohup.out
/setup-cloud-environment.sh~
/copy-shard-files-to-all-nodes.sh~
/prepare-new-build.sh~
/run-job-matrix.sh~
/run-median-job-matrix.sh~
/run-mixed-job-matrix.sh~
/run-sum-job-matrix.sh~
/run-sum-job.sh~
/start-all-nodes.sh~
/node_list.txt
/copy-sharding-jar.sh~
/setup-data-publisher.sh~
/setup-sharding.sh~
/shut-down-data-publisher.sh~
/shut-down-job-runner.sh~
/shut-down-manager.sh~
/shut-down-sharding.sh~
/cleanup-data-publisher.sh~
/copy-file-to-data-publisher.sh~
/connect-to-sharding.sh~
/connect-to-data-publisher.sh~
/cleanup-sharding.sh~
/connect-to-job-manager.sh~
/copy-file-to-job-manager.sh~
/setup-job-manager.sh~
/shut-down-all-nodes.sh~
/start-all-nodes-job-execution.sh~
/start-job-manager.sh~
/start-node.sh~
/start-sharding.sh~
/start-data-publisher.sh~
